    /*
    Flaticon icon font: Flaticon
    Creation date: 29/04/2017 07:09
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-sufer-with-his-board:before { content: "\f100"; }
.flaticon-kayak:before { content: "\f101"; }
.flaticon-bicycle:before { content: "\f102"; }
.flaticon-gun:before { content: "\f103"; }
.flaticon-fish:before { content: "\f104"; }
.flaticon-golf:before { content: "\f105"; }
.flaticon-snowboard:before { content: "\f106"; }
    
    $font-Flaticon-sufer-with-his-board: "\f100";
    $font-Flaticon-kayak: "\f101";
    $font-Flaticon-bicycle: "\f102";
    $font-Flaticon-gun: "\f103";
    $font-Flaticon-fish: "\f104";
    $font-Flaticon-golf: "\f105";
    $font-Flaticon-snowboard: "\f106";